@model PagedList.IPagedList<TasksList.Models.TaskEntity>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<br />

<div class="btn-group">
    <a href="@Url.Action("Create")" class="myProvider btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>  Add Task
    </a>
</div>

@foreach (var item in Model)
{
    @Html.Partial("_TaskFromList", item)
}

<br />

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@section scripts
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}
